<template>
  <v-container class="home">
    <v-row class="text-center">
      <v-col cols="12">
        Test technique WEB-ATRIO réalisé par [{{ lastName }}][{{
          firstName
        }}]<br />
        réalisé le [{{ createDate }}]
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <progress-bar
          titleProgressBar="Initialisation de test technique"
          :value="valueFirstProbressBar"
          :height="25"
        />
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <progress-bar
          titleProgressBar="Avancement de la phase de développement"
          :value="valueSecondProbressBar"
          :height="25"
        />
      </v-col>
    </v-row>
    <v-row >
      <v-col cols="3"></v-col>
      <v-col cols="4"
        ><v-btn class="btn-action"  @click="resetProgressValue"
          >Rémettre à zero les compteurs</v-btn
        ></v-col
      >
      <v-col cols="2"><v-btn class="btn-action"  @click="addFivePercent">Ajouter 5%</v-btn></v-col>
      <v-col cols="2"><v-btn class="btn-action"   @click="addTenPercent">Ajouter 10%</v-btn></v-col>
    </v-row>
  </v-container>
</template>

<script>
import ProgressBar from "./ProgressBar.vue";
export default {
  name: "HelloWorld",
  components: {
    ProgressBar,
  },
  data: () => ({
    firstName: "Riadh",
    lastName: "Sbita",
    createDate: new Date().toLocaleDateString("fr"),
    valueFirstProbressBar: 50,
    valueSecondProbressBar: 25,
  }),
  methods: {
    resetProgressValue() {
      this.valueFirstProbressBar = 0;
      this.valueSecondProbressBar = 0;
    },
    addFivePercent() {
      this.valueFirstProbressBar += 5;
      this.valueSecondProbressBar += 5;
    },
    addTenPercent() {
      this.valueFirstProbressBar += 10;
      this.valueSecondProbressBar += 10;
    },
  },
};
</script>
<style scoped>
.home {
  margin-top: 10px;
}
.btn-action{
  
  color: black;
  text-transform: capitalize;
}

</style>
