<template>
  <div>
    <v-row>
      <span class="progress-bar-txt">
        {{ titleProgressBar }}
      </span>
    </v-row>
    <v-row>
      <v-col cols="1">{{ value }}%</v-col>
      <v-col cols="11">
        <v-progress-linear :color="getColor()" :value="value" :height="height">
        </v-progress-linear>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  name: "ProgressBar",
  props: {
    titleProgressBar: {
      type: String,
    },
    value: { type: Number },
    height: { type: Number, default: 25 },
  },
  methods: {
    getColor() {
      if (this.value <= 25) {
        return "#7160E8";
      } else if (this.value > 25 && this.value <= 50) {
        return "#60ADE8";
      } else if (this.value > 50 && this.value <= 75) {
        return "#60E8B6";
      } else if (this.value > 75 && this.value <= 100) {
        return "#30DB63";
      }
    },
  },
};
</script>