<template>
  <v-app>
<div class="app-title">
<center>ECRAN A REALISER:</center>
</div>
 
    <v-main class="main">
      <Home/>
    </v-main>
  </v-app>
</template>

<script>
import Home from './components/Home';

export default {
  name: 'App',

  components: {
    Home,
  },

  
};
</script>
<style scoped>
.main{
  
background-color: black;
color: white;
}
.app-title{
  padding: 10px;
  background-color: dimgrey;
font-size: 20px;
color: white;
}

</style>